#BLOCKBUSTER Retro Challenge

In [74]:
def escaleta():
    '''
    1. #Importar Librerías
    2. #SqlAlchemy
    3. #Crear conexión a la base de datos
    4.#Revision de columnas.
    5.#Examinar los datos en busca de posibles problemas como los valores nulos
    6.# Revisar tablas desde CSV explorar csv
    7.# Primero Rental: aquí eliminar la columna 'last_uptdate' 
    8.#Para el archivo de pelis, revisamos film
    9. #Explorar el archivo film con datos null
    10.#dejar en blanco release year porque no contiene letras ni num
    11.#removemos last_update
    12.#Las pelis están en ingles, esto lo reflejamos con English
    13.#vaciar original language, si son nulos lo dejamos así
    14.# En inventario es necesario editar las columnas 'last_update'
    15.#exploramos tabla inventario
    16.# Hace falta una base de datos sobre clientes, entonces se crea el dataframe 'client' con los ids de todos los clientes ya existentes.
    17.# Crear la tabla "actor" y cargar los datos desde el archivo "actor.csv"
    18.# Crear la tabla "category" y cargar los datos desde el archivo "category.csv"
    19.# Crear la tabla "film" y cargar los datos desde el archivo "film.csv"
    20.# Crear la tabla "language" y cargar los datos desde el archivo "language.csv"
    21.#Completamos llevando las tablas a sql
    22.#insertamos valores con funciones

    

       
    '''
    return None

help(escaleta)

Help on function escaleta in module __main__:

escaleta()
    1. #Importar Librerías
    2. #SqlAlchemy
    3. #Crear conexión a la base de datos
    4.#Revision de columnas.
    5.#Examinar los datos en busca de posibles problemas como los valores nulos
    6.# Revisar tablas desde CSV explorar csv
    7.# Primero Rental: aquí eliminar la columna 'last_uptdate'
    8.#Para el archivo de pelis, revisamos film
    9. #Explorar el archivo film con datos null
    10.#dejar en blanco release year porque no contiene letras ni num
    11.#removemos last_update
    12.#Las pelis están en ingles, esto lo reflejamos con English
    13.#vaciar original language, si son nulos lo dejamos así
    14.# En inventario es necesario editar las columnas 'last_update'
    15.#exploramos tabla inventario
    16.# Hace falta una base de datos sobre clientes, entonces se crea el dataframe 'client' con los ids de todos los clientes ya existentes.
    17.# Crear la tabla "actor" y cargar los datos desde el archivo "actor.csv"
    18.# Crear la tabla "category" y cargar los datos desde el archivo "category.csv"
    19.# Crear la tabla "film" y cargar los datos desde el archivo "film.csv"
    20.# Crear la tabla "language" y cargar los datos desde el archivo "language.csv"
    21.#Completamos llevando las tablas a sql
    22.#insertamos valores con funciones

In [37]:
#Importar Librerías
%pip install numpy
%pip install pandas
%pip install mysql-connector-python

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: numpy in /Users/monicaclaroscadima/Library/Python/3.9/lib/python/site-packages (1.24.3)
WARNING: You are using pip version 21.2.4; however, version 23.1.2 is available.
You should consider upgrading via the '/Applications/Xcode.app/Contents/Developer/usr/bin/python3 -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in /Users/monicaclaroscadima/Library/Python/3.9/lib/python/site-packages (2.0.1)
Requirement already satisfied: pytz>=2020.1 in /Users/monicaclaroscadima/Library/Python/3.9/lib/python/site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.20.3 in /Users/monicaclaroscadima/Library/Python/3.9/lib/python/site-packages (from pandas) (1.24.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/monicaclaroscadima/Library/Python/3.9/lib/python/site-packages (from pandas) (2.8.2)
Requirement already satisfied: tzdata>=2022.1 in /Users/monicaclaroscadima/Library/Python/3.9/lib/python/site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in /Applications/Xcode.app/Contents/Developer/Library/Frameworks/Python3.framework/Versions/3.9/lib/python3.9/site-packages (from python-dateutil>=2.8.2->pandas) (1.15.0)
WARNING: You are using pip version 21.2.4; however, version 23.1.2 is available.
You should consider upgrading via the '/Applications/Xcode.app/Contents/Developer/usr/bin/python3 -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: mysql-connector-python in /Users/monicaclaroscadima/Library/Python/3.9/lib/python/site-packages (8.0.33)
Requirement already satisfied: protobuf<=3.20.3,>=3.11.0 in /Users/monicaclaroscadima/Library/Python/3.9/lib/python/site-packages (from mysql-connector-python) (3.20.3)
WARNING: You are using pip version 21.2.4; however, version 23.1.2 is available.
You should consider upgrading via the '/Applications/Xcode.app/Contents/Developer/usr/bin/python3 -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [38]:
#SqlAlchemy
%pip install SQLAlchemy
%pip install pymysql

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: SQLAlchemy in /Users/monicaclaroscadima/Library/Python/3.9/lib/python/site-packages (2.0.11)
Requirement already satisfied: typing-extensions>=4.2.0 in /Users/monicaclaroscadima/Library/Python/3.9/lib/python/site-packages (from SQLAlchemy) (4.5.0)
WARNING: You are using pip version 21.2.4; however, version 23.1.2 is available.
You should consider upgrading via the '/Applications/Xcode.app/Contents/Developer/usr/bin/python3 -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pymysql in /Users/monicaclaroscadima/Library/Python/3.9/lib/python/site-packages (1.0.3)
WARNING: You are using pip version 21.2.4; however, version 23.1.2 is available.
You should consider upgrading via the '/Applications/Xcode.app/Contents/Developer/usr/bin/python3 -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [39]:
import numpy as np

In [40]:
import pandas as pd

In [41]:
#biblioteca pandas en Python con la función to_sql()
import mysql.connector as conn

In [42]:
from sqlalchemy import create_engine

In [43]:
# Crear conexión a la base de datos
conexion = conn.connect(host='localhost',
                        user='root',
                        passwd='password',
                        database='blockbuster')

cursor = conexion.cursor()
cursor

In [44]:
str_conn = 'mysql+pymysql://root:password@localhost:3306/app'

cursor = create_engine(str_conn)

In [45]:
#Revision de columnas.
pd.set_option('display.max_columns', None)  
pd.set_option('display.max_colwidth', 100)  

import warnings
warnings.filterwarnings('ignore')

In [46]:
# Revisar tablas desde CSV
actor = pd.read_csv('./data/actor.csv', encoding='latin-1')
category = pd.read_csv('./data/category.csv', encoding='latin-1')
film = pd.read_csv('./data/film.csv', encoding='latin-1')
inventory = pd.read_csv('./data/inventory.csv', encoding='latin-1')
language = pd.read_csv('./data/language.csv', encoding='latin-1')
old_HDD = pd.read_csv('./data/old_HDD.csv', encoding='latin-1')
rental = pd.read_csv('./data/rental.csv', encoding='latin-1')

In [47]:
# Primero Rental: aquí eliminar la columna 'last_uptdate' 

rental = rental.drop(['last_update'], axis=1)

In [71]:
rental['return_date'] = pd.to_datetime(rental['return_date'])
rental['rental_date'] = pd.to_datetime(rental['rental_date'])

In [49]:
rental.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   rental_id     1000 non-null   int64
 1   rental_date   1000 non-null   datetime64[ns]
 2   inventory_id  1000 non-null   int64
 3   customer_id   1000 non-null   int64
 4   return_date   1000 non-null   datetime64[ns]
 5   staff_id      1000 non-null   int64
dtypes: datetime64[ns](2), int64(4)
memory usage: 47.0 KB

In [50]:
rental.customer_id.max()

597

In [51]:
#Para el archivo de pelis, revisamos film
film.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   film_id               1000 non-null   int64
 1   title                 1000 non-null   object
 2   description           1000 non-null   object
 3   release_year          1000 non-null   int64
 4   language_id           1000 non-null   int64
 5   original_language_id  0 non-null      float64
 6   rental_duration       1000 non-null   int64
 7   rental_rate           1000 non-null   float64
 8   length                1000 non-null   int64
 9   replacement_cost      1000 non-null   float64
 10  rating                1000 non-null   object
 11  special_features      1000 non-null   object
 12  last_update           1000 non-null   object
dtypes: float64(3), int64(5), object(5)
memory usage: 101.7+ KB

In [52]:
#dejar en blanco release year porque no contiene letras ni num
film.release_year = ''

In [53]:
# Renombrar language y original language
film.rename({'language_id': 'language'}, axis=1, inplace=True) 
film.rename({'original_language_id': 'original_language'}, axis=1, inplace=True)

In [54]:
#removemos last_update
film = film.drop('last_update', axis = 1)

In [72]:
#Las pelis están en ingles, esto lo reflejamos con English
film.language = 'English'

In [56]:
#vaciar original language, si son nulos lo dejamos así
film.original_language = ''

In [57]:
# En inventario es necesario editar las columnas 'last_update'
inventory = inventory.drop(['last_update'], axis=1)

In [58]:
#exploramos tabla inventario
inventory = inventory.fillna('null')
inventory

     inventory_id  film_id  store_id
0               1        1         1
1               2        1         1
2               3        1         1
3               4        1         1
4               5        1         2
..            ...      ...       ...
995           996      222         2
996           997      222         2
997           998      222         2
998           999      223         2
999          1000      223         2

[1000 rows x 3 columns]

In [59]:
inventory.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   inventory_id  1000 non-null   int64
 1   film_id       1000 non-null   int64
 2   store_id      1000 non-null   int64
dtypes: int64(3)
memory usage: 23.6 KB

In [60]:
# Hace falta una base de datos sobre clientes, entonces se crea el dataframe 'client' con los ids de todos los clientes ya existentes.
client= pd.DataFrame({'customer_id': range(1, 700)})

In [61]:
client['name', ] = ''
client['lastname'] = ''
client['phone'] = ''
client['mail'] = ''

In [62]:
# Crear la tabla "actor" y cargar los datos desde el archivo "actor.csv"
##cursor = conexion.cursor()
#cursor.execute("""CREATE TABLE actor (
                  #  actor_id INT PRIMARY KEY,
                  #  first_name VARCHAR(45) NOT NULL,
                    #last_update TIMESTAMP DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP
                   # last_name VARCHAR(45) NOT NULL,
                #)""")
#actor = pd.read_csv('./data/actor.csv', encoding='latin-1')
#actor.to_sql('actor', con=conexion, if_exists='append', index=False)

In [63]:
# Crear la tabla "category" y cargar los datos desde el archivo "category.csv"
#cursor.execute("""CREATE TABLE category (
 #                   category_id INT PRIMARY KEY,
  #                  name VARCHAR(45) NOT NULL,
   #                 last_update TIMESTAMP DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP
    #            )""")
#category = pd.read_csv('category.csv', encoding='latin-1')
#category.to_sql('category', con=conexion, if_exists='append', index=False)

In [64]:
# Crear la tabla "film" y cargar los datos desde el archivo "film.csv"
#cursor.execute("""CREATE TABLE film (
 #                   film_id INT PRIMARY KEY,
    #                description TEXT,
  ##                  title VARCHAR(255) NOT NULL,
     #               release_year YEAR,
      #              language_id INT,
        #            rental_duration TINYINT,
         #           rental_rate DECIMAL(4,2),
          #          length SMALLINT,
           #         replacement_cost DECIMAL(5,2),
       #             original_language_id INT,
            #        rating VARCHAR(5),
             #       special_features VARCHAR(255),
               #c     CONSTRAINT fk_film_language FOREIGN KEY (language_id)
              #      last_update TIMESTAMP DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
                 #       REFERENCES language (language_id),
                  #  CONSTRAINT fk_film_original_language FOREIGN KEY (original_language_id)
                   #     REFERENCES language (language_id)
               # )""")
#film.to_sql('film', con=conexion, if_exists='append', index=False)

In [73]:
#Crear la tabla "inventory" y cargar los datos desde el archivo "inventory.csv"
#cursor.execute("""CREATE TABLE inventory (
                    #inventory_id INT PRIMARY KEY,
                    #film_id INT,
                    #store_id TINYINT,
                    #last_update TIMESTAMP DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
                    #CONSTRAINT fk_inventory_film FOREIGN KEY (film_id),
                        #REFERENCES film (film_id),
                    #CONSTRAINT fk_inventory_store FOREIGN KEY (store_id)
                        #REFERENCES store (store_id)
                    #)""")
#inventory = pd.read_csv('inventory.csv', encoding='latin-1')
#inventory.to_sql('inventory', con=conexion, if_exists='append', index=False)

In [66]:
#Crear la tabla "client" 
#cursor.execute("""CREATE TABLE client (
               #customer_id INT PRIMARY KEY,
               #name CHAR(20) NOT NULL,
               #lastname CHAR(20) NOT NULL
               #phone INT,
               #mail VARCHAR(255) NOT NULL,
               #)""")

#client.to_sql('client', con=conexion, if_exists='append', index=False)

In [67]:
#cursor.execute('SELECT * FROM client')

In [68]:
# Crear la tabla "language" y cargar los datos desde el archivo "language.csv"
#cursor.execute("""CREATE TABLE language (
 #                   language_id INT PRIMARY KEY,
  #                  name CHAR(20) NOT NULL,
   #                 last_update TIMESTAMP DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP
    #            )""")
#language = pd.read_csv('language.csv', encoding='latin-1')
#language.to_sql('language', con=conexion, if_exists='append', index=False)

In [69]:
# Crear la tabla "rental" y cargar los datos desde el archivo "rental.csv"
#cursor.execute("""CREATE TABLE rental (
  #                  rental_id INT PRIMARY KEY,
   #                 rental_date DATETIME,
    #                inventory_id INT,
     #               customer_id INT,
      #              staff_id TINYINT,
       #             return_date DATETIME,
        #            last_update TIMESTAMP DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
         #           CONSTRAINT fk_rental_inventory FOREIGN KEY (inventory_id)
          #              REFERENCES inventory (inventory_id),
           #         CONSTRAINT fk_rental_customer FOREIGN KEY (customer_id)
            #            REFERENCES customer (customer_id),
             #       CONSTRAINT fk_rental_staff FOREIGN KEY (staff_id)
              #          REFERENCES staff (staff_id)
               # )""")
#rental = pd.read_csv('rental.csv', encoding='latin-1')
#rental.to_sql('rental', con=conexion, if_exists='append', index=False)

In [ ]:
#Completamos llevando las tablas a sql
#client.to_sql('client',con=cursor, if_exists='append', index=False)
#inventory.to_sql('inventory',con=cursor, if_exists='append', index=False)
#rental.to_sql('rental',con=cursor, if_exists='append', index=False)

In [ ]:
values_client = ', '.join(map(str, [*zip(*map(client.get, client))] ))

In [ ]:
values_inventory = ', '.join(map(str, [*zip(*map(inventory.get, inventory))] ))

In [ ]:
values_film = ', '.join(map(str, [*zip(*map(film.get, film))] ))

In [ ]:
values_rental = ', '.join(map(str, [*zip(*map(rental.get, rental))] ))

In [ ]:
#insertamos valores con funciones
sql_film = f'INSERT INTO films VALUES {values_film}'
sql_inventory = f'INSERT INTO inventory VALUES {values_inventory}'
sql_client = f'INSERT INTO customer VALUES {values_client}'
sql_rental = f'INSERT INTO rental VALUES {values_rental}'