#BLOCKBUSTER Retro Challenge

In [11]:
def escaleta():
    '''
    1. #Importar Librerías
    2. #SqlAlchemy
    4. #biblioteca pandas en Python con la función to_sql()
    5. #Crear conexión a la base de datos
    5. #explorar csv
    6. #Examinar los datos en busca de posibles problemas como los valores nulos
    7. #Explorar el archivo film con datos null
    5. 

    

       
    '''
    return None

help(escaleta)

Help on function escaleta in module __main__:

escaleta()
    1. #Importar Librerías
    2. #SqlAlchemy
    4. #biblioteca pandas en Python con la función to_sql()
    5. #Crear conexión a la base de datos
    5. #explorar csv
    6. #Examinar los datos en busca de posibles problemas como los valores nulos
    7. #Explorar el archivo film con datos null
    5.

In [12]:
#Importar Librerías
%pip install numpy
%pip install pandas
%pip install mysql-connector-python

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: numpy in /Users/monicaclaroscadima/Library/Python/3.9/lib/python/site-packages (1.24.3)
WARNING: You are using pip version 21.2.4; however, version 23.1.1 is available.
You should consider upgrading via the '/Applications/Xcode.app/Contents/Developer/usr/bin/python3 -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in /Users/monicaclaroscadima/Library/Python/3.9/lib/python/site-packages (2.0.1)
Requirement already satisfied: numpy>=1.20.3 in /Users/monicaclaroscadima/Library/Python/3.9/lib/python/site-packages (from pandas) (1.24.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/monicaclaroscadima/Library/Python/3.9/lib/python/site-packages (from pandas) (2.8.2)
Requirement already satisfied: tzdata>=2022.1 in /Users/monicaclaroscadima/Library/Python/3.9/lib/python/site-packages (from pandas) (2023.3)
Requirement already satisfied: pytz>=2020.1 in /Users/monicaclaroscadima/Library/Python/3.9/lib/python/site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in /Applications/Xcode.app/Contents/Developer/Library/Frameworks/Python3.framework/Versions/3.9/lib/python3.9/site-packages (from python-dateutil>=2.8.2->pandas) (1.15.0)
WARNING: You are using pip version 21.2.4; however, version 23.1.1 is available.
You should consider upgrading via the '/Applications/Xcode.app/Contents/Developer/usr/bin/python3 -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: mysql-connector-python in /Users/monicaclaroscadima/Library/Python/3.9/lib/python/site-packages (8.0.33)
Requirement already satisfied: protobuf<=3.20.3,>=3.11.0 in /Users/monicaclaroscadima/Library/Python/3.9/lib/python/site-packages (from mysql-connector-python) (3.20.3)
WARNING: You are using pip version 21.2.4; however, version 23.1.1 is available.
You should consider upgrading via the '/Applications/Xcode.app/Contents/Developer/usr/bin/python3 -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [13]:
#SqlAlchemy
%pip install SQLAlchemy
%pip install pymysql

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: SQLAlchemy in /Users/monicaclaroscadima/Library/Python/3.9/lib/python/site-packages (2.0.11)
Requirement already satisfied: typing-extensions>=4.2.0 in /Users/monicaclaroscadima/Library/Python/3.9/lib/python/site-packages (from SQLAlchemy) (4.5.0)
WARNING: You are using pip version 21.2.4; however, version 23.1.1 is available.
You should consider upgrading via the '/Applications/Xcode.app/Contents/Developer/usr/bin/python3 -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pymysql in /Users/monicaclaroscadima/Library/Python/3.9/lib/python/site-packages (1.0.3)
WARNING: You are using pip version 21.2.4; however, version 23.1.1 is available.
You should consider upgrading via the '/Applications/Xcode.app/Contents/Developer/usr/bin/python3 -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [14]:
import numpy as np

In [15]:
import pandas as pd

In [16]:
#biblioteca pandas en Python con la función to_sql()
import mysql.connector as conn

In [17]:
from sqlalchemy import create_engine

In [18]:
# Crear conexión a la base de datos
conexion = conn.connect(host='localhost',
                        user='root',
                        passwd='password',
                        database='blockbuster')

cursor = conexion.cursor()
cursor

In [19]:
str_conn = 'mysql+pymysql://root:password@localhost:3306/app'

cursor = create_engine(str_conn)

In [20]:
# Crear la tabla "actor" y cargar los datos desde el archivo "actor.csv"
cursor = conexion.cursor()
cursor.execute("""CREATE TABLE actor (
                    actor_id INT PRIMARY KEY,
                    first_name VARCHAR(45) NOT NULL,
                    last_name VARCHAR(45) NOT NULL,
                    last_update TIMESTAMP DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP
                )""")
actor = pd.read_csv('./data/actor.csv', encoding='latin-1')
actor.to_sql('actor', con=conexion, if_exists='append', index=False)

ProgrammingError: 1050 (42S01): Table 'actor' already exists

In [ ]:
# Crear la tabla "category" y cargar los datos desde el archivo "category.csv"
cursor.execute("""CREATE TABLE category (
                    category_id INT PRIMARY KEY,
                    name VARCHAR(45) NOT NULL,
                    last_update TIMESTAMP DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP
                )""")
category = pd.read_csv('category.csv', encoding='latin-1')
category.to_sql('category', con=conexion, if_exists='append', index=False)

ProgrammingError: 1050 (42S01): Table 'category' already exists

In [ ]:
# Crear la tabla "film" y cargar los datos desde el archivo "film.csv"
cursor.execute("""CREATE TABLE film (
                    film_id INT PRIMARY KEY,
                    title VARCHAR(255) NOT NULL,
                    description TEXT,
                    release_year YEAR,
                    language_id INT,
                    original_language_id INT,
                    rental_duration TINYINT,
                    rental_rate DECIMAL(4,2),
                    length SMALLINT,
                    replacement_cost DECIMAL(5,2),
                    rating VARCHAR(5),
                    special_features VARCHAR(255),
                    last_update TIMESTAMP DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
                    CONSTRAINT fk_film_language FOREIGN KEY (language_id)
                        REFERENCES language (language_id),
                    CONSTRAINT fk_film_original_language FOREIGN KEY (original_language_id)
                        REFERENCES language (language_id)
                )""")
film.to_sql('film', con=conexion, if_exists='append', index=False)

ProgrammingError: 1050 (42S01): Table 'film' already exists

In [ ]:
# Crear la tabla "inventory" y cargar los datos desde el archivo "inventory.csv"
cursor.execute("""CREATE TABLE inventory (
                    inventory_id INT PRIMARY KEY,
                    film_id INT,
                    store_id TINYINT,
                    last_update TIMESTAMP DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
                    CONSTRAINT fk_inventory_film FOREIGN KEY (film_id)
                        REFERENCES film (film_id),
                    CONSTRAINT fk_inventory_store FOREIGN KEY (store_id)
                        REFERENCES store (store_id)
                )""")
inventory = pd.read_csv('inventory.csv', encoding='latin-1')
inventory.to_sql('inventory', con=conexion, if_exists='append', index=False)

DatabaseError: 1824 (HY000): Failed to open the referenced table 'store'

In [ ]:
# Crear la tabla "language" y cargar los datos desde el archivo "language.csv"
cursor.execute("""CREATE TABLE language (
                    language_id INT PRIMARY KEY,
                    name CHAR(20) NOT NULL,
                    last_update TIMESTAMP DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP
                )""")
language = pd.read_csv('language.csv', encoding='latin-1')
language.to_sql('language', con=conexion, if_exists='append', index=False)

ProgrammingError: 1050 (42S01): Table 'language' already exists

In [ ]:
# Crear la tabla "rental" y cargar los datos desde el archivo "rental.csv"
cursor.execute("""CREATE TABLE rental (
                    rental_id INT PRIMARY KEY,
                    rental_date DATETIME,
                    inventory_id INT,
                    customer_id INT,
                    return_date DATETIME,
                    staff_id TINYINT,
                    last_update TIMESTAMP DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
                    CONSTRAINT fk_rental_inventory FOREIGN KEY (inventory_id)
                        REFERENCES inventory (inventory_id),
                    CONSTRAINT fk_rental_customer FOREIGN KEY (customer_id)
                        REFERENCES customer (customer_id),
                    CONSTRAINT fk_rental_staff FOREIGN KEY (staff_id)
                        REFERENCES staff (staff_id)
                )""")
rental = pd.read_csv('rental.csv', encoding='latin-1')
rental.to_sql('rental', con=conexion, if_exists='append', index=False)

DatabaseError: 1824 (HY000): Failed to open the referenced table 'inventory'