In [6]:
%pip install numpy
%pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: numpy in /Users/monicaclaroscadima/Library/Python/3.9/lib/python/site-packages (1.24.3)
WARNING: You are using pip version 21.2.4; however, version 23.1.1 is available.
You should consider upgrading via the '/Applications/Xcode.app/Contents/Developer/usr/bin/python3 -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in /Users/monicaclaroscadima/Library/Python/3.9/lib/python/site-packages (2.0.1)
Requirement already satisfied: numpy>=1.20.3 in /Users/monicaclaroscadima/Library/Python/3.9/lib/python/site-packages (from pandas) (1.24.3)
Requirement already satisfied: pytz>=2020.1 in /Users/monicaclaroscadima/Library/Python/3.9/lib/python/site-packages (from pandas) (2023.3)
Requirement already satisfied: tzdata>=2022.1 in /Users/monicaclaroscadima/Library/Python/3.9/lib/python/site-packages (from pandas) (2023.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/monicaclaroscadima/Library/Python/3.9/lib/python/site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /Applications/Xcode.app/Contents/Developer/Library/Frameworks/Python3.framework/Versions/3.9/lib/python3.9/site-packages (from python-dateutil>=2.8.2->pandas) (1.15.0)
WARNING: You are using pip version 21.2.4; however, version 23.1.1 is available.
You should consider upgrading via the '/Applications/Xcode.app/Contents/Developer/usr/bin/python3 -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [2]:
import numpy as np

In [3]:
import pandas as pd

In [17]:
actor = pd.read_csv('./data/actor.csv', encoding='latin-1')
actor.head()

   actor_id first_name     last_name          last_update
0         1   PENELOPE       GUINESS  2006-02-15 04:34:33
1         2       NICK      WAHLBERG  2006-02-15 04:34:33
2         3         ED         CHASE  2006-02-15 04:34:33
3         4   JENNIFER         DAVIS  2006-02-15 04:34:33
4         5     JOHNNY  LOLLOBRIGIDA  2006-02-15 04:34:33

In [18]:
actor = pd.read_csv('./data/actor.csv', encoding='latin-1')
category = pd.read_csv('./data/category.csv', encoding='latin-1')
film = pd.read_csv('./data/film.csv', encoding='latin-1')
inventory = pd.read_csv('./data/inventory.csv', encoding='latin-1')
language = pd.read_csv('./data/language.csv', encoding='latin-1')
old_HDD = pd.read_csv('./data/old_HDD.csv', encoding='latin-1')
rental = pd.read_csv('./data/rental.csv', encoding='latin-1')